
### system  ###
.DS_Store


###  gradle  ###
gradle/wrapper/*
gradlew
gradlew.bat
.gradle/
dist
*classes
target/
build/
build_eclipse/
out/


### eclipse ###

.project
.settings
.classpath
/.metadata


### idea ###

*.iml
.idea
*.ipr
*.iws
*.swp
.svn



